<div class="row">

<h2> Do you use products that have ingredients you can't pronounce?</h2>

<h2> Do you every wonder what kinds of effects the chemicals in your products could have on your health?</h2>
<br/>

<h4> About Chemical Conscious</h4>
<p>Chemicals of all kinds, both harmful and safe, are being created everyday and are incorporated into our everyday products. Many consumers have no idea how to pronounce the ingredients in their body products, but continue to use them on a daily basis. However, many of these chemicals are harmful and can cause adverse health impacts. <i>Chemical Conscious</i> is an application that provides consumers with a way to search the Internet for different products in order to determine what types of chemicals they are composed of. <i>Chemical Conscious</i> provides consumers with the power to choose what chemicals they are putting into their bodies, allowing them to have more control over their health and well being. </p>
<br/>

<h4> History About the Chemical Industry</h4>
<p>There is a growing acknowledgement across the political spectrum and among scientists, healthcare professionals, and concerned citizens that Americans are not adequately protected from toxic chemicals (Environmental Health Strategy Center). The law used to ensure chemical safety is the Toxic Substance Control Act of 1976. However, the law is so weak that the EPA only requires testing on less than two percent of more than 80,000 chemicals in the marketplace (Environmental Health Strategy Center). More than thirty years of environmental health studies have found that chemicals play a role in the prevalence of many diseases, such as development disorders, neurological diseases, cancer, and asthma. The exposure to chemicals in our everyday products increases the risk of adverse health outcomes. There needs to be reforms to the law in order to increase the chemicals being tested, the chemical industry needs to decrease its use of harmful chemicals, and Americans need to become educated on how the products they use everyday can impact their health. </p>


<br/>
</div>

