<h1> Aussie Shampoo and Conditioner</h1>
<br/>
<div class="row">
	<div class="col-md-4"><img class="img-responsive" src="<%= image_path "aussie bottle.jpg" %>"/>

<a href="/aussieaussomevolume">Aussie Aussome Volume Shampoo</a>