<img class="img-responsive" src="<%= image_path "aussie bottle.jpg" %>"/>
<br/>
<p><b>Aussie Aussome Volume Shampoo</b></p>

<br/>


<p><b>1. Description</b></p>
<li> Has essence of white ginger to help go from flat to fantastic volume. Keeps your hair voluminous all day.</li>
<br/>
<p><b>2. Ingredients</b></p>
<li> Water, Ammonium Laureth Sulfate, Ammonium Lauryl Sulfate, PPG 2 Hydroxyethyl Coco/Isostearamide, Sodium Chloride, Citric Acid, Sodium Citrate, Fragrance, Sodium Benzoate, Tetrasodium EDTA, Polyquaternium 10, Humulus Lupulas (Hops) Extract, Hedychium Coronarium Root Extract, Prunus Serotina (Wild Cherry) Bark Extract, Methylchloroisothiazolinone, Methylisothiazolinone, Sodium Xylenesulfonate, Red 4</li>
<br/>
<p><b>3. Health Impacts</b></p>
<a href="http://www.mtholyoke.edu/~nshah/cosmetics/ammoniumlaurylsulfate.html"><b>Ammonium Laureth Sulfate and Ammonium Lauryl Sulfate</b></a>
<li> A surfactant, getergent, and is used in shampoos, toothpastes, and skin cleansers. There are many potential health impacts including cancer hazard, skin irritant, and allergies.</li>
<br/>
