<div class="jumbotron">
<h1>Chemical Conscious</h1>

<p><i>Providing consumers with the knowledge they need to effectively control their health</i></p>

</div>

<p> Do you use products that have ingredients you can't pronounce?</p>

<p> Do you every wonder what kinds of effects the chemicals in your products could have on your health?</p>

<p><b><i> Chemical Conscious </i></b> is an application that gives consumers the opportunity to search the products they use everyday to learn what impacts the ingredients can have on their health. It gives consumers more control over their health.</p>
