<div class="jumbotron">
<h1>Chemical Conscious</h1>

<p><i>Providing consumers with the knowledge they need to help take control of their health</i></p>

</div>

<div class="row">
	<div class="col-md-6">
<p> Do you use products that have ingredients you can't pronounce?</p>

<p> Do you every wonder what kinds of effects the chemicals in your products could have on your health?</p>

<p><b><i> Chemical Conscious </i></b> is an application that gives consumers the opportunity to search the products they use everyday in order to learn what impacts the ingredients can have on their health. </p>

<br/>
</div>

<div class="row">
	<div class="col-md-6">

<p> Search for your favorite products now</p>

<form class="form-search" method="get" id="s" action="/">
    <div class="input-append">
        <input type="text" class="input-medium search-query" name="s" placeholder="Search" value="">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>

<br/>
<p> Just want to browse? Choose from the dropdown menu options for general product categories.</p>
<select class="form-control">
<option value="Select for General Product Categories">Select for General Product Categories</option>	
  <option value="Shampoo">Shampoo</option>
  <option value="Conditioner">Conditioner</option>
  <option value="Body Wash">Body Wash</option>
</select>
</div>
<br/>
<br/>






