<div class="jumbotron">
<h1><center>Chemical Conscious</center></h1>

<h3><center><i>Providing consumers with the knowledge they need to help take control of their health</i></center></h3>
<br/>
<br/>
<center>
<div class="row">
	<div class="col-xs-6 col-md-4"><img class="img-circle box-shad" alt="" src="http://mybabybrilliant.com/wp-content/uploads/2013/02/295444_10151465732634813_862454503_n.jpeg"></div>

	<div class="col-xs-6 col-md-4"><img class="img-circle box-shad" alt="" src="http://www.motherearthliving.com/~/media/Images/MEL/Editorial/Blogs/Real%20Beauty/5%20Harmful%20Chemicals%20in%20Beauty%20Products/Fotolia_20030888_Subscripti"></div>

	<div class="col-xs-6 col-md-4"><img class="img-circle box-shad" alt="" src="http://pollutioninpeople.org/big-portrait.gif"></div>
</div>
</center>

<div class="row">
<center><a class="btn btn-primary btn-lg" role="button" href="/about">Learn More</a>  <a class="btn btn-primary btn-lg" role="button" href="/search"><span class="glyphicon glyphicon-search"></span> Search Now</a></center></div>

</div>


