<H1> Make-up </h1>
<br/>
<form class="form-search" method="get" id="s" action="/">
    <div class="input-append">
        <input type="text" class="input-medium search-query" name="s" placeholder="Search" value="">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>

<h4><a href="/covergirl"><img class="img-responsive" src="<%= image_path "covergirl.gif" %>"/></a></p>
</h4>