<H1> Shampoo </h1>
<br/>
<form class="form-search" method="get" id="s" action="/">
    <div class="input-append">
        <input type="text" class="input-medium search-query" name="s" placeholder="Search" value="">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
<br/>
<p><a href="/aussie">Aussie</a></p>
<br/>
<p><a href="/headandshoulders">Head and Shoulders</a></p>
<br/>

<p><a href="/loreal">Loreal</a><p>
	<br/>
<p><a href="/pantene">Pantene</a></p>
<br/>
<p><a href="/paulmitchell">Paul Mitchell</a></p>
<br/>
<p><a href="/suave">Suave</a></p>
<br/>
<p><a href="/tresemme">TRESemme</a></p>




