<img class="img-responsive" src="<%= image_path "color2.jpg" %>"/>

<p><b>Suave Professionals Moroccan Infusion Color Care</b></p>

<br/>


<p><b>1. Description</b></p>
<li> Infused with authentic Moroccan argan oil. Moroccan argan oil is a lightweight miracle oil that absorbs instantly and is know to give brilliant shine and long lasting conditioning benefits.  This color care shampoo gently cleanses, keeping color vibrant while enhancing shine</li>
<br/>
<p><b>2. Ingredients</b></p>
<li> Water, Sodium Laureth Sulfate, Cocamidopropyl Betaine, Sodium Chloride, Glycol Distearate, Dimethiconol, Glycerin, Fragrance, Carbomer, Guar Hydroxypropyltrimonium Chloride, TEA Dodecylbenzenesulfonate, Citric Acid, PPG 9, Tetrasodium EDTA, DMDM Hydantoin, PEG 45M, Prunus Amygdalus Dulcis (Sweet Almond) Oil, Argania Spinosa Kernel Oil, Hydrogenated Coconut Oil, Methylchloroisothiazolinone, Methylisothiazolinone, Red 33 (CI 17200), Yellow 5 (CI 19140)</li>
<br/>
<p><b>3. Health Impacts</b></p>
<a href="http://articles.mercola.com/sites/articles/archive/2010/07/13/sodium-lauryl-sulfate.aspx#_edn6"><b>Sodium Laureth Sulfate</b></a>
<li> A surfactant, getergent, and emulsifier used in nearly all shampoos. Originated from coconuts, but the manufacturing process contaminates it with 1,4 dioxane, a carcinogenic by-product.</li>
<li> 16,000 studies have found sodium laureth sulfate to be linked to irritation of the skin and eyes, organ toxicity, developmental/reproductive toxicity, neurotoxicity, endocrine disruption, ecotoxicology, and biochemical or cellular changes, and possible mutations and cancer.</li>
<li> The gradual, cumulative effects of long-term, repeated exposure to sodium laureth sulfate puts consumers in higher risk of negative health impacts.</li>
<br/>

<a href="http://www.thenhf.com/article.php?id=580"><b>Glycol Distearate</b></a>
<li> A widely used surfactant made from glycerin and stearic acid. Glycol literally means “glycerin” plus “alcohol.” This ingredient can be caustic on your skin.</li>