<img class="img-responsive" src="<%= image_path "300.jpg" %>"/>

<p><b>Suave Professional Natural- Almond and Shea Butter</b></p>




<p><b>1. Description</b></p>
<li> Made with 100% natural almond and shea butter, which is known for their rich emollients, to help moisturize dry, damaged hair. It replenishes as it cleanses leaving hair well-nourished and beautiful.</li>
<br/>
<p><b>2. Ingredients</b></p>
<li> Water (Aqua), Sodium Laureth Sulfate, Cocamidopropyl Betaine, Sodium Chloride, Prunus Amygdalus Dulcis Oil (Sweet Amond), Butyrospermum Parkii (Shea Butter) (Shea Butter), Aloe Vera (Aloe Barbadensis) Leaf Juice (Aloe Vera), Cymbopogon Schoenanthus (Lemongrass) Oil (Lemongrass), Rosmarinus Officinalis (Rosemary) Leaf Oil (Rosemary), Chamomilla Recutita (Chamomile) Flower/Leaf Extract (Matricaria), Lavandula Angustifolia (Lavender) Flower Extract (Lavender), Simmondsia Chinensis (Jojoba) Seed Oil (Jojoba), Dimethiconol, Fragrance, Carbomer, PPG 9, Guar Hydroxypropyltrimonium Chloride, Tetrasodium EDTA, Amodimethicone, DMDM Hydantoin, TEA Dodecylbenzene Sulfonate, Citric Acid, C11 15 Pareth 7, Laureth 9, Trideceth 12, Methylchloroisothiazolinone, Methylisothiazolinone, Mica (CI 77019), Titanium Dioxide (CI 77891), Yellow 5 Lake (CI 19140), Red 33 (CI 17200) (CI 17200)</li>
<br/>
<p><b>3. Health Impacts</b></p>
<a href="http://articles.mercola.com/sites/articles/archive/2010/07/13/sodium-lauryl-sulfate.aspx#_edn6"><b>Sodium Laureth Sulfate</b></a>
<li> A surfactant, getergent, and emulsifier used in nearly all shampoos. Originated from coconuts, but the manufacturing process contaminates it with 1,4 dioxane, a carcinogenic by-product.</li>
<li> 16,000 studies have found sodium laureth sulfate to be linked to irritation of the skin and eyes, organ toxicity, developmental/reproductive toxicity, neurotoxicity, endocrine disruption, ecotoxicology, and biochemical or cellular changes, and possible mutations and cancer.</li>
<li> The gradual, cumulative effects of long-term, repeated exposure to sodium laureth sulfate puts consumers in higher risk of negative health impacts.</li>
<br/>
