<img class="img-responsive" src="<%= image_path "300.jpg" %>"/>

<p><b>Suave Professional Natural- Almond and Shea Butter</b></p>




<p>1. Description</p>

<p>2. Ingredients</p>

<p>3. Health Impacts</p>