<h1> Suave Shampoo and Conditioner </h1>
<br/>

<div class="row">
	<div class="col-md-4"><img class="img-responsive" src="<%= image_path "300.jpg" %>"/>

<a href="/suaveprofessionalnatural">Suave Professionals Natural- Almond and Shea Butter Shampoo</a>
</div>

<div class="row">
	<div class="col-md-4"><img class="img-responsive" src="<%= image_path "color2.jpg" %>"/>

<a href="/suaveprofessionalcolor">Suave Professionals Moroccan Infusion Color Care Shampoo</a>
</div>

<div class="row">
	<div class="col-md-4"><img class="img-responsive" src="<%= image_path "mens.png" %>"/>

<a href="/suaveprofessionalmen">Suave Professionals Men Daily Clean Ocean Charge Shampoo</a>
</div>