

<h4> Laura Smith</h4>
<p>I am delighted to say that Chemical Conscious has been a great resource for me. I am pregnant with my first child so I have become a lot more aware of the products I am using in order to ensure my baby is healthy once it is born. I have an obsession with make up so Chemical Conscious has allowed me to learn which brands are more dangerous or could harm my health. Thank you Chemical Conscious! You are keeping me and my baby health and safe!</p> 
<br/>
<h4> John Adams </h4>
<p> I can definitely say my dorm room is not the cleanest place but I can confidently say my products are! Thanks to Chemical Conscious I can find out which deodorants are safer for me and the environment. It allows me to smell good and save the world. A win-win!</p>
<br/>
<h4> Sarah Miller</h4>
<p> I am a 45-year-old female and a mother of three daughters. I have a history of breast cancer in my family and am very conscious of what beauty and health products my daughters and I use because many of them have cancer-causing ingredients. Chemical Conscious has created a website that is easy to navigate where I can learn more about the chemicals in our products. Chemical Conscious has helped me decrease the risk of any health implications for my family in the future. Thanks CC!</p> 
<br/>


    <h2>Tell us your story!</h2>

   <div class="col-sm-10">
      <input type="search" class="form-control" id="inputsearch" placeholder="Comment">
</div>

      <a class="btn btn-primary btn-sm"> Submit</a> 
    
 


